<title>Front End Awesome</title>

<link rel=stylesheet type=text/css href=main.css>

<div ng-app="frontend-awesome" ng-cloak>
    <datepicker></datepicker>

    <div ng-controller=MainCtrl>
        <input type=text ng-model=data.message autofocus>
        <br>
        {{data.message}}
    </div>

    <div ng-controller=FooterCtrl class=footer>
        <input type=text ng-model=data.message>
        {{data.message}}
        {{time}}
    </div>
</div>

<script src=//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js></script>
<script src=main.js></script>
