[ng-cloak] {
    display: none !important;
}

.footer {
    position: fixed;
    bottom: 0;
}

body {
    background: url(http://static2.grsites.com/archive/textures/dblue/dblue054.gif);
    color: white;
    font-family: 'Century Gothic', 'Avant Garde Gothic', 'Avant Garde', 'URW Gothic L', helvetica, sans-serif;
    padding-top: 150px;
    text-align: center;
    font-size: 300%;
}
input[type=text] {
    font-family: 'Century Gothic', 'Avant Garde Gothic', 'Avant Garde', 'URW Gothic L', helvetica, sans-serif;
    font-size: 50%;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 3px;
    box-shadow: inset 2px 2px rgba(41, 41, 41, .4);
    -webkit-transition: box-shadow .3s;
}
input[type=text]:focus {
    box-shadow: inset 2px 2px rgba(41, 41, 41, .4), 0px 0px 8px hsl(180, 100%, 50%);
}

.warning {
    color: red;
}
.success {
    color: green;
}
